

{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mundo Guanaco</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nesciunt numquam vitae nemo quos repellat omnis nobis ducimus tenetur quae optio doloribus ratione vero vel ullam, atque quod voluptatibus obcaecati?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/675478c7dcc17f90ffa729387685615a.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}